<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-3.1.xsd ">
	
	
	<bean id="show2BasedataMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="cn.cntv.vpe.ky.dao.mapper.Show2BasedataMapper" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>
	<bean id="show2OvldataMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="cn.cntv.vpe.ky.dao.mapper.Show2OvldataMapper" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>
	<bean id="show2StoragecurveMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="cn.cntv.vpe.ky.dao.mapper.Show2StoragecurveMapper" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>
	<bean id="show2StorageMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="cn.cntv.vpe.ky.dao.mapper.Show2StorageMapper" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>
    <bean id="dataManageMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="cn.cntv.vpe.ky.dao.mapper.DataManageMapper" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>
		<bean id="show2ProduceMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="cn.cntv.vpe.ky.dao.mapper.Show2ProduceMapper" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>
	<bean id="show2EfficiencyMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="cn.cntv.vpe.ky.dao.mapper.Show2EfficiencyMapper" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>
	<bean id="show2ProduceDataMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="cn.cntv.vpe.ky.dao.mapper.Show2ProduceDataMapper" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>
	<bean id="show2Config" class="cn.cntv.vpe.ky.bean.Show2Config">
		<!-- solr库地址 -->
		<property name="epgurl" value="http://10.70.32.167/api/epg/info" />
		<property name="pdsurl" value="http://10.64.4.153/pds/api/videorank/search?rows=50" />
		<property name="epgTop5">
			<list>
				<value>cctv1</value> 
				<value>cctv2</value>
				<value>cctv3</value>
				<value>cctv4</value>
				<value>cctv5</value>
			</list>
		</property>  
	</bean>
	<bean id="show2EpgMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="cn.cntv.vpe.ky.dao.mapper.Show2EpgMapper" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>
</beans>