<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<!-- common -->
		<typeAlias alias="MenuEntity" type="cn.cntv.vpe.common.dao.entity.MenuEntity" />
		<typeAlias alias="DroplistEntity"
			type="cn.cntv.vpe.common.dao.entity.DroplistEntity" />
		<typeAlias alias="RoleDataEntity"
			type="cn.cntv.vpe.common.dao.entity.RoleDataEntity" />
		<typeAlias alias="CustomVideoPermEntity"
			type="cn.cntv.vpe.common.dao.entity.CustomVideoPermEntity" />
		<typeAlias alias="LeaderLogEntity" type="cn.cntv.vpe.common.bean.LeaderLogEntity" />
		<typeAlias alias="AWTagEntity" type="cn.cntv.vpe.common.dao.entity.AWTagEntity" />
		<!-- /common -->

		<!-- ka -->
		<typeAlias alias="VmsVideoinfoEntity"
			type="cn.cntv.vpe.ka.dao.entity.VmsVideoinfoEntity" />
		<typeAlias alias="VmsVideoframeEntity"
			type="cn.cntv.vpe.ka.dao.entity.VmsVideoframeEntity" />
		<typeAlias alias="VmsVideofavoriteEntity"
			type="cn.cntv.vpe.ka.dao.entity.VmsVideofavoriteEntity" />
		<typeAlias alias="VmsFavoriteshareEntity"
			type="cn.cntv.vpe.ka.dao.entity.VmsFavoriteshareEntity" />
		<typeAlias alias="VmsReplayEntity" type="cn.cntv.vpe.ka.dao.entity.VmsReplayEntity" />
		<typeAlias alias="VmsVideoexpandcontentEntity"
			type="cn.cntv.vpe.ka.dao.entity.VmsVideoexpandcontentEntity" />
		<typeAlias alias="VmsCopyrightEntity"
			type="cn.cntv.vpe.ka.dao.entity.VmsCopyrightEntity" />
		<typeAlias alias="VmsVideostarEntity"
			type="cn.cntv.vpe.ka.dao.entity.VmsVideostarEntity" />
		<typeAlias alias="VmsVideostreamEntity"
			type="cn.cntv.vpe.ka.dao.entity.VmsVideostreamEntity" />
		<typeAlias alias="VmsVideostreamKeyEntity"
			type="cn.cntv.vpe.ka.dao.entity.VmsVideostreamKeyEntity" />
		<typeAlias alias="VmsTeleplayEntity"
			type="cn.cntv.vpe.ka.dao.entity.VmsTeleplayEntity" />
		<typeAlias alias="VmsColumninfo" type="cn.cntv.vpe.ka.dao.entity.VmsColumninfo" />
		<typeAlias alias="VmsColumninfoEntity"
			type="cn.cntv.vpe.ka.dao.entity.VmsColumninfoEntity" />
		<typeAlias alias="VmsVideotagEntity"
			type="cn.cntv.vpe.ka.dao.entity.VmsVideotagEntity" />
		<typeAlias alias="VmsVideotagKeyEntity"
			type="cn.cntv.vpe.ka.dao.entity.VmsVideotagKeyEntity" />
		<typeAlias alias="VmsClassVideo" type="cn.cntv.vpe.ka.dao.entity.VmsClassVideo" />
		<typeAlias alias="VmsClassVideoKey"
			type="cn.cntv.vpe.ka.dao.entity.VmsClassVideoKey" />
		<typeAlias alias="VmsCatalogM1Entity"
			type="cn.cntv.vpe.ka.dao.entity.VmsCatalogM1Entity" />
		<typeAlias alias="VmsFavoriteDirectoryEntity"
			type="cn.cntv.vpe.ka.dao.entity.VmsFavoriteDirectoryEntity" />
		<typeAlias alias="VmsVideoclipEntity"
			type="cn.cntv.vpe.ka.dao.entity.VmsVideoclipEntity" />
		<!-- /ka -->
		<!-- kb -->
		<typeAlias alias="VmsVideosetEntity"
			type="cn.cntv.vpe.kb.dao.entity.VmsVideosetEntity" />
		<typeAlias alias="VmsVideosetframeEntity"
			type="cn.cntv.vpe.kb.dao.entity.VmsVideosetframeEntity" />
		<typeAlias alias="VmsVideosetcolumnEntity"
			type="cn.cntv.vpe.kb.dao.entity.VmsVideosetcolumnEntity" />
		<typeAlias alias="VmsSpecialprogramEntity"
			type="cn.cntv.vpe.kb.dao.entity.VmsSpecialprogramEntity" />
		<typeAlias alias="VmsVideosetcontainsEntity"
			type="cn.cntv.vpe.kb.dao.entity.VmsVideosetcontainsEntity" />
		<typeAlias alias="VmsClassVideoset"
			type="cn.cntv.vpe.kb.dao.entity.VmsClassVideoset" />
		<typeAlias alias="VideosetCopyEntity"
			type="cn.cntv.vpe.kb.dao.entity.VideosetCopyEntity" />
		<typeAlias alias="VideosetCopySearchEntity"
			type="cn.cntv.vpe.kb.dao.entity.VideosetCopySearchEntity" />
		<typeAlias alias="VideoCombinEntity"
			type="cn.cntv.vpe.kb.dao.entity.VideoCombinEntity" />
		<typeAlias alias="VmsVideosettagEntity"
			type="cn.cntv.vpe.kb.dao.entity.VmsVideosettagEntity" />
		<typeAlias alias="VmsVideosetstarEntity"
			type="cn.cntv.vpe.kb.dao.entity.VmsVideosetstarEntity" />
		<!-- /kb -->
		<!-- kc -->
		<typeAlias alias="ChannelListEntity"
			type="cn.cntv.vpe.kc.dao.entity.ChannelListEntity" />
		<typeAlias alias="ChannelEntity" type="cn.cntv.vpe.kc.dao.entity.ChannelEntity" />
		<typeAlias alias="VmsMatchwordsEntity"
			type="cn.cntv.vpe.kc.dao.entity.VmsMatchwordsEntity" />
		<typeAlias alias="ColumnKeyWordEntity"
			type="cn.cntv.vpe.kc.dao.entity.ColumnKeyWordEntity" />
		<typeAlias alias="ClassificationEntity"
			type="cn.cntv.vpe.kc.dao.entity.ClassificationEntity" />
		<typeAlias alias="VmsStarEntity" type="cn.cntv.vpe.kc.dao.entity.VmsStarEntity" />
		<typeAlias alias="VmsTagEntity" type="cn.cntv.vpe.kc.dao.entity.VmsTagEntity" />
		<!-- 人物库 -->
		<typeAlias alias="VmsStarexpandcontentEntity"
			type="cn.cntv.vpe.kc.dao.entity.VmsStarexpandcontentEntity" />
		<typeAlias alias="VmsStarexpantEntity"
			type="cn.cntv.vpe.kc.dao.entity.VmsStarexpantEntity" />
		<typeAlias alias="VmsStarexpantKeyEntity"
			type="cn.cntv.vpe.kc.dao.entity.VmsStarexpantKeyEntity" />
		<typeAlias alias="VmsStarsEntity" type="cn.cntv.vpe.kc.dao.entity.VmsStarsEntity" />


		<typeAlias alias="VmsVideosetstar" type="cn.cntv.vpe.kc.dao.entity.VmsVideosetstar" />
		<typeAlias alias="VmsVideosetstarKey"
			type="cn.cntv.vpe.kc.dao.entity.VmsVideosetstarKey" />
		<typeAlias alias="VmsVideostar" type="cn.cntv.vpe.kc.dao.entity.VmsVideostar" />
		<typeAlias alias="VmsVideostarKey" type="cn.cntv.vpe.kc.dao.entity.VmsVideostarKey" />
		<!-- 人物库 END -->
		<!-- /kc -->
		<!-- kd -->
		<typeAlias alias="VmsJobtasksEntity"
			type="cn.cntv.vpe.kd.dao.entity.VmsJobtasksEntity" />
		<typeAlias alias="VmsManufacturetasksEntity"
			type="cn.cntv.vpe.kd.dao.entity.VmsManufacturetasksEntity" />
		<typeAlias alias="VmsTacticstasksEntity"
			type="cn.cntv.vpe.kd.dao.entity.VmsTacticstasksEntity" />
		<typeAlias alias="VmsStocktasksEntity"
			type="cn.cntv.vpe.kd.dao.entity.VmsStocktasksEntity" />
		<typeAlias alias="VmsDownloadtasksEntity"
			type="cn.cntv.vpe.kd.dao.entity.VmsDownloadtasksEntity" />
		<typeAlias alias="VmsTacticsinfoEntity"
			type="cn.cntv.vpe.kd.dao.entity.VmsTacticsinfoEntity" />
		<typeAlias alias="VmsUsertacticsEntity"
			type="cn.cntv.vpe.kd.dao.entity.VmsUsertacticsEntity" />
		<typeAlias alias="VmsAdvJobEntity" type="cn.cntv.vpe.kd.dao.entity.VmsAdvJobEntity" />
		<typeAlias alias="VmsTaskslogEntity"
			type="cn.cntv.vpe.kd.dao.entity.VmsTaskslogEntity" />
		<typeAlias alias="VmsAccountapplyEntity"
			type="cn.cntv.vpe.kd.dao.entity.VmsAccountapplyEntity" />
		<typeAlias alias="VmsFunctionapplyEntity"
			type="cn.cntv.vpe.kd.dao.entity.VmsFunctionapplyEntity" />
		<typeAlias alias="VmsDictionaryEntity"
			type="cn.cntv.vpe.kd.dao.entity.VmsDictionaryEntity" />
		<!-- kd -->
		<!-- ks -->
		<typeAlias alias="CfgEntity" type="cn.cntv.vpe.ks.dao.entity.CfgEntity" />
		<typeAlias alias="Cfg2StrategyEntity"
			type="cn.cntv.vpe.ks.dao.entity.Cfg2StrategyEntity" />
		<typeAlias alias="StrategyEntity" type="cn.cntv.vpe.ks.dao.entity.StrategyEntity" />
		<typeAlias alias="AudioRelationEntity"
			type="cn.cntv.vpe.ks.dao.entity.AudioRelationEntity" />
		<typeAlias alias="ColumnStrategyEntity"
			type="cn.cntv.vpe.ks.dao.entity.ColumnStrategyEntity" />
		<!-- /ks -->
		<!-- kt -->
		<typeAlias alias="TscCfgProgressEntity"
			type="cn.cntv.vpe.kt.dao.entity.TscCfgProgressEntity" />
		<typeAlias alias="TscProgressEntity"
			type="cn.cntv.vpe.kt.dao.entity.TscProgressEntity" />
		<typeAlias alias="TscStrategyProgressEntity"
			type="cn.cntv.vpe.kt.dao.entity.TscStrategyProgressEntity" />
		<typeAlias alias="TscProgressOplogEntity"
			type="cn.cntv.vpe.kt.dao.entity.TscProgressOplogEntity" />
		<!-- /kt -->

		<!-- ke -->
		<typeAlias alias="VmsVirtualexpand"
			type="cn.cntv.vpe.ke.dao.entity.VmsVirtualexpand" />
		<typeAlias alias="VmsVirtualexpandcatalog"
			type="cn.cntv.vpe.ke.dao.entity.VmsVirtualexpandcatalog" />
		<typeAlias alias="VmsVirtualexpandcatalogKey"
			type="cn.cntv.vpe.ke.dao.entity.VmsVirtualexpandcatalogKey" />
		<typeAlias alias="VmsVirtualexpandKey"
			type="cn.cntv.vpe.ke.dao.entity.VmsVirtualexpandKey" />
		<typeAlias alias="VmsVirtualmatchrelation"
			type="cn.cntv.vpe.ke.dao.entity.VmsVirtualmatchrelation" />
		<typeAlias alias="VmsVirtualset" type="cn.cntv.vpe.ke.dao.entity.VmsVirtualset" />
		<typeAlias alias="VmsVirtualsetcontains"
			type="cn.cntv.vpe.ke.dao.entity.VmsVirtualsetcontains" />
		<typeAlias alias="VmsVirtualsetcontainsKey"
			type="cn.cntv.vpe.ke.dao.entity.VmsVirtualsetcontainsKey" />
		<typeAlias alias="VmsVirtualsetcontainsEntity"
			type="cn.cntv.vpe.ke.dao.entity.VmsVirtualsetcontainsEntity" />
		<typeAlias alias="VmsVirtualmatchrelationEntity"
			type="cn.cntv.vpe.ke.bean.VmsVirtualmatchrelationEntity" />

		<!-- ke -->
		<!-- kx -->
		<typeAlias alias="UserInfoEntity" type="cn.cntv.vpe.kx.dao.entity.UserInfoEntity" />
		<typeAlias alias="partnerEntity" type="cn.cntv.vpe.kx.dao.entity.PartnerEntity" />
		<typeAlias alias="roleInfoEntity" type="cn.cntv.vpe.kx.dao.entity.RoleInfoEntity" />
		<typeAlias alias="FunctionEntity" type="cn.cntv.vpe.kx.dao.entity.FunctionEntity" />
		<typeAlias alias="DictionaryInfoEntity"
			type="cn.cntv.vpe.kx.dao.entity.DictionaryInfoEntity" />
		<typeAlias alias="CustomChannelEntity"
			type="cn.cntv.vpe.kx.dao.entity.CustomChannelEntity" />
		<typeAlias alias="ColumnEntity" type="cn.cntv.vpe.kx.dao.entity.ColumnEntity" />
		<typeAlias alias="DatafuncEntity" type="cn.cntv.vpe.kx.dao.entity.DatafuncEntity" />
		<typeAlias alias="CustomFuncDataEntity"
			type="cn.cntv.vpe.kx.dao.entity.CustomFuncDataEntity" />
		<typeAlias alias="VideoSetEntity" type="cn.cntv.vpe.kx.dao.entity.VideoSetEntity" />
		<typeAlias alias="VideoSetFuncDataEntity"
			type="cn.cntv.vpe.kx.dao.entity.VideoSetFuncDataEntity" />
		<typeAlias alias="VideoSetSubstationEntity"
			type="cn.cntv.vpe.kx.dao.entity.VideoSetSubstationEntity" />
		<typeAlias alias="TokensEntity" type="cn.cntv.vpe.kx.dao.entity.TokensEntity" />
		<typeAlias alias="LimitIpEntity" type="cn.cntv.vpe.kx.dao.entity.LimitIpEntity" />
		<typeAlias alias="VideoMatchOrgEntity"
			type="cn.cntv.vpe.kx.dao.entity.VideoMatchOrgEntity" />
		<typeAlias alias="OrgDataRightEntity"
			type="cn.cntv.vpe.kx.dao.entity.OrgDataRightEntity" />
		<typeAlias alias="VideoInfo_inEntity"
			type="cn.cntv.vpe.kx.dao.entity.VideoInfo_inEntity" />
		<typeAlias alias="VideoInfo_outEntity"
			type="cn.cntv.vpe.kx.dao.entity.VideoInfo_outEntity" />
		<typeAlias alias="SendInfoConfEntity"
			type="cn.cntv.vpe.kx.dao.entity.SendInfoConfEntity" />
		<typeAlias alias="FuncTypeEntity" type="cn.cntv.vpe.kx.dao.entity.FuncTypeEntity" />
		<typeAlias alias="FuncTypeFuncEntity"
			type="cn.cntv.vpe.kx.dao.entity.FuncTypeFuncEntity" />
		<typeAlias alias="TscProgressLogEntity"
			type="cn.cntv.vpe.kx.dao.entity.TscProgressLogEntity" />
		<typeAlias alias="ErrorLogEntity" type="cn.cntv.vpe.kt.dao.entity.ErrorLogEntity" />
		<typeAlias alias="EncoderStatusEntity"
			type="cn.cntv.vpe.kx.dao.entity.EncoderStatusEntity" />
		<typeAlias alias="DepartmentEntity"
			type="cn.cntv.vpe.kx.dao.entity.DepartmentEntity" />
		<typeAlias alias="TscErrorReportEntity"
			type="cn.cntv.vpe.kt.dao.entity.TscErrorReportEntity" />
		<!-- /kx -->
		
		<!-- /kz -->
		<typeAlias alias="ShowHistoryEventEntity"
			type="cn.cntv.vpe.kz.dao.entity.ShowHistoryEventEntity" />
		<typeAlias alias="KBVideoInfoEntity"
			type="cn.cntv.vpe.kz.dao.entity.KBVideoInfoEntity" />
		<typeAlias alias="ShowRelatedStarEntity"
			type="cn.cntv.vpe.kz.dao.entity.ShowRelatedStarEntity" />
		<typeAlias alias="KbTagInfo"
			type="cn.cntv.vpe.kz.dao.entity.KbTagInfo" />
			
		<typeAlias alias="Show2ProduceEntity"
			type="cn.cntv.vpe.ky.dao.entity.Show2ProduceEntity" />
		<typeAlias alias="Show2EfficiencyEntity"
			type="cn.cntv.vpe.ky.dao.entity.Show2EfficiencyEntity" />
		<typeAlias alias="Show2ProduceDataEntity"
			type="cn.cntv.vpe.ky.dao.entity.Show2ProduceDataEntity" />			
		<!-- /kz -->
		<!-- ko -->
		<typeAlias alias="OrderEntity" type="cn.cntv.vpe.ko.dao.entity.OrderEntity" />
		<typeAlias alias="OrderBaseEntity" type="cn.cntv.vpe.ko.dao.entity.OrderBaseEntity" />
		<typeAlias alias="OrderStateEntity" type="cn.cntv.vpe.ko.dao.entity.OrderStateEntity" />
		<typeAlias alias="OrdOplogEntity" type="cn.cntv.vpe.ko.dao.entity.OrdOplogEntity" />
		<typeAlias alias="VmsOrdListEntity" type="cn.cntv.vpe.ko.dao.entity.VmsOrdListEntity" />
		<typeAlias alias="OrdRecommentsEntity" type="cn.cntv.vpe.ko.dao.entity.OrdRecommentsEntity" />
		<typeAlias alias="OrdCatalogEntity" type="cn.cntv.vpe.ko.dao.entity.OrdCatalogEntity" />
		<typeAlias alias="ButtonEntity" type="cn.cntv.vpe.ko.dao.entity.ButtonEntity" />
		<typeAlias alias="OrdAdvSearchEntity" type="cn.cntv.vpe.ko.dao.entity.OrdAdvSearchEntity" />
		<typeAlias alias="OrderBindStrategyEntity" type="cn.cntv.vpe.ko.dao.entity.OrderBindStrategyEntity" />
		<typeAlias alias="OrdMailTo" type="cn.cntv.vpe.ko.dao.entity.OrdMailTo" />
		<typeAlias alias="OrderCollectionEntity" type="cn.cntv.vpe.ko.dao.entity.OrderCollectionEntity" />
		<typeAlias alias="OrderXcutEntity" type="cn.cntv.vpe.ko.dao.entity.OrderXcutEntity" />
		<typeAlias alias="OrderXcutColumnEntity" type="cn.cntv.vpe.ko.dao.entity.OrderXcutColumnEntity" />
		<!-- /ko -->
	</typeAliases>
	<plugins>
		<plugin interceptor="cn.cntv.vpe.util.mybatispage.PagePlugin">
			<property name="dialect" value="ORACLE" />
			<!-- 只要是sql的id是以 ListPage结尾的都要通过该拦截器插件处理 -->
			<property name="pageSqlId" value=".*ListPage" />
		</plugin>
	</plugins>
	<mappers>
		<!-- common -->
		<mapper resource="cn/cntv/vpe/common/dao/sql/MenuMapper.xml" />
		<mapper resource="cn/cntv/vpe/common/dao/sql/DroplistMapper.xml" />
		<mapper resource="cn/cntv/vpe/common/dao/sql/RolePermMapper.xml" />
		<mapper resource="cn/cntv/vpe/common/dao/sql/TempSearchDataidMapper.xml" />
		<mapper resource="cn/cntv/vpe/common/dao/sql/AssociatedWordMapper.xml" />
		<!-- /common -->

		<!-- ka -->
		<mapper resource="cn/cntv/vpe/ka/dao/sql/VmsVideoinfoMapper.xml" />
		<mapper resource="cn/cntv/vpe/ka/dao/sql/VmsVideoframeMapper.xml" />
		<mapper resource="cn/cntv/vpe/ka/dao/sql/VmsVideofavoriteMapper.xml" />
		<mapper resource="cn/cntv/vpe/ka/dao/sql/VmsFavoriteshareMapper.xml" />
		<mapper resource="cn/cntv/vpe/ka/dao/sql/VmsReplayMapper.xml" />
		<mapper resource="cn/cntv/vpe/ka/dao/sql/VmsVideoexpandcontentMapper.xml" />
		<mapper resource="cn/cntv/vpe/ka/dao/sql/VmsCopyrightMapper.xml" />
		<mapper resource="cn/cntv/vpe/ka/dao/sql/VmsVideostarMapper.xml" />
		<mapper resource="cn/cntv/vpe/ka/dao/sql/VmsVideostreamMapper.xml" />
		<mapper resource="cn/cntv/vpe/ka/dao/sql/VmsVideoSuperSearchMapper.xml" />
		<mapper resource="cn/cntv/vpe/ka/dao/sql/VmsVideoSelectVideosetMapper.xml" />
		<mapper resource="cn/cntv/vpe/ka/dao/sql/VmsTeleplayMapper.xml" />
		<mapper resource="cn/cntv/vpe/ka/dao/sql/VmsVideoAKDelMapper.xml" />
		<mapper resource="cn/cntv/vpe/ka/dao/sql/VmsColumninfoMapper.xml" />
		<mapper resource="cn/cntv/vpe/ka/dao/sql/VmsVideotagMapper.xml" />
		<mapper resource="cn/cntv/vpe/ka/dao/sql/VmsClassVideoMapper.xml" />
		<mapper resource="cn/cntv/vpe/ka/dao/sql/VmsFavoriteDirectoryMapper.xml" />
		<mapper resource="cn/cntv/vpe/ka/dao/sql/VmsVideoclipMapper.xml" />
		<!-- /ka -->
		<!-- kb -->
		<mapper resource="cn/cntv/vpe/kb/dao/sql/VmsVideosetMapper.xml" />
		<mapper resource="cn/cntv/vpe/kb/dao/sql/VmsVideosetframeMapper.xml" />
		<mapper resource="cn/cntv/vpe/kb/dao/sql/VmsSpecialprogramMapper.xml" />
		<mapper resource="cn/cntv/vpe/kb/dao/sql/VmsVideosetcolumnMapper.xml" />
		<mapper resource="cn/cntv/vpe/kb/dao/sql/VmsVideosetSelectVideoMapper.xml" />
		<mapper resource="cn/cntv/vpe/kb/dao/sql/VmsVideosetSelectVideosetMapper.xml" />
		<mapper resource="cn/cntv/vpe/kb/dao/sql/VmsMatchWordsMapper.xml" />
		<mapper resource="cn/cntv/vpe/kb/dao/sql/VmsMatchPloyMapper.xml" />
		<mapper resource="cn/cntv/vpe/kb/dao/sql/VmsVideosetcontainsMapper.xml" />
		<mapper resource="cn/cntv/vpe/kb/dao/sql/VmsClassVideosetMapper.xml" />
		<mapper resource="cn/cntv/vpe/kb/dao/sql/VideosetCopyMapper.xml" />
		<mapper resource="cn/cntv/vpe/kb/dao/sql/VideosetCombinMapper.xml" />
		<mapper resource="cn/cntv/vpe/kb/dao/sql/VmsVideosettagMapper.xml" />
		<mapper resource="cn/cntv/vpe/kb/dao/sql/VmsVideosetstarMapper.xml" />
		<!-- kb -->

		<!-- kc -->
		<mapper resource="cn/cntv/vpe/kc/dao/sql/ChannelMapper.xml" />
		<mapper resource="cn/cntv/vpe/kc/dao/sql/VmsMatchwordsMapper.xml" />
		<mapper resource="cn/cntv/vpe/kc/dao/sql/ColumnKeyWordMapper.xml" />
		<mapper resource="cn/cntv/vpe/kc/dao/sql/ClassificationMapper.xml" />
		<mapper resource="cn/cntv/vpe/kc/dao/sql/VmsStarMapper.xml" />
		<mapper resource="cn/cntv/vpe/kc/dao/sql/VmsTagMapper.xml" />
		<!-- 人物库 -->
		<mapper resource="cn/cntv/vpe/kc/dao/sql/VmsStarexpandcontentMapper.xml" />
		<mapper resource="cn/cntv/vpe/kc/dao/sql/VmsStarexpantMapper.xml" />
		<mapper resource="cn/cntv/vpe/kc/dao/sql/VmsStarsMapper.xml" />
		<mapper resource="cn/cntv/vpe/kc/dao/sql/VmsVideosetstarMapper.xml" />
		<mapper resource="cn/cntv/vpe/kc/dao/sql/VmsVideostarMapper.xml" />

		<!-- /kc -->
		<!-- kd -->
		<mapper resource="cn/cntv/vpe/kd/dao/sql/VmsJobtasksMapper.xml" />
		<mapper resource="cn/cntv/vpe/kd/dao/sql/VmsManufacturetasksMapper.xml" />
		<mapper resource="cn/cntv/vpe/kd/dao/sql/VmsTacticstasksMapper.xml" />
		<mapper resource="cn/cntv/vpe/kd/dao/sql/VmsStocktasksMapper.xml" />
		<mapper resource="cn/cntv/vpe/kd/dao/sql/VmsDownloadtasksMapper.xml" />
		<mapper resource="cn/cntv/vpe/kd/dao/sql/VmsTacticsinfoMapper.xml" />
		<mapper resource="cn/cntv/vpe/kd/dao/sql/VmsUsertacticsMapper.xml" />
		<mapper resource="cn/cntv/vpe/kd/dao/sql/VmsShowtasksMapper.xml" />
		<mapper resource="cn/cntv/vpe/kd/dao/sql/VmsTvShowtasksMapper.xml" />
		<mapper resource="cn/cntv/vpe/kd/dao/sql/VmsTaskslogMapper.xml" />
		<mapper resource="cn/cntv/vpe/kd/dao/sql/VmsAccountapplyMapper.xml" />
		<mapper resource="cn/cntv/vpe/kd/dao/sql/VmsFunctionapplyMapper.xml" />
		<mapper resource="cn/cntv/vpe/kd/dao/sql/VmsDictionaryMapper.xml" />
		<!-- kd -->
		<!-- ke -->
		<mapper resource="cn/cntv/vpe/ke/dao/sql/VmsVirtualsetMapper.xml" />
		<mapper resource="cn/cntv/vpe/ke/dao/sql/VmsVirtualexpandcatalogMapper.xml" />
		<mapper resource="cn/cntv/vpe/ke/dao/sql/VmsVirtualexpandMapper.xml" />
		<mapper resource="cn/cntv/vpe/ke/dao/sql/VmsVirtualmatchrelationMapper.xml" />
		<mapper resource="cn/cntv/vpe/ke/dao/sql/VmsVirtualsetcontainsMapper.xml" />
		<mapper resource="cn/cntv/vpe/ke/dao/sql/VmskeMatchPloyMapper.xml" />
		<mapper resource="cn/cntv/vpe/ke/dao/sql/KBTagMapper.xml" />
		<!-- ke -->

		<!-- kf -->
		<mapper resource="cn/cntv/vpe/kf/mapping/ChannelMapper.xml" />
		<mapper resource="cn/cntv/vpe/kf/mapping/Class_VideoMapper.xml" />
		<mapper resource="cn/cntv/vpe/kf/mapping/ClassificationMapper.xml" />
		<mapper resource="cn/cntv/vpe/kf/mapping/ColumnInfoMapper.xml" />
		<mapper resource="cn/cntv/vpe/kf/mapping/CopyrightMapper.xml" />
		<mapper resource="cn/cntv/vpe/kf/mapping/DictionaryMapper.xml" />
		<mapper resource="cn/cntv/vpe/kf/mapping/ReplayMapper.xml" />
		<mapper resource="cn/cntv/vpe/kf/mapping/StarMapper.xml" />
		<mapper resource="cn/cntv/vpe/kf/mapping/SubstationMapper.xml" />
		<mapper resource="cn/cntv/vpe/kf/mapping/TagMapper.xml" />
		<mapper resource="cn/cntv/vpe/kf/mapping/VideoCatalogMapper.xml" />
		<mapper resource="cn/cntv/vpe/kf/mapping/VideoExpandContentMapper.xml" />
		<mapper resource="cn/cntv/vpe/kf/mapping/VideoExpandMapper.xml" />
		<mapper resource="cn/cntv/vpe/kf/mapping/VideoFrameMapper.xml" />
		<mapper resource="cn/cntv/vpe/kf/mapping/VideoInfoMapper.xml" />
		<mapper resource="cn/cntv/vpe/kf/mapping/VideoListMapper.xml" />
		<mapper resource="cn/cntv/vpe/kf/mapping/VideosetCatalogMapper.xml" />
		<mapper resource="cn/cntv/vpe/kf/mapping/VideosetColumnMapper.xml" />
		<mapper resource="cn/cntv/vpe/kf/mapping/VideosetframeMapper.xml" />
		<mapper resource="cn/cntv/vpe/kf/mapping/VideosetInfoMapper.xml" />
		<mapper resource="cn/cntv/vpe/kf/mapping/VideosetListMapper.xml" />
		<mapper resource="cn/cntv/vpe/kf/mapping/VideosetSpecialProgramMapper.xml" />
		<mapper resource="cn/cntv/vpe/kf/mapping/VideosetStarMapper.xml" />
		<mapper resource="cn/cntv/vpe/kf/mapping/VideosetTeleplayMapper.xml" />
		<mapper resource="cn/cntv/vpe/kf/mapping/VideoStarMapper.xml" />
		<mapper resource="cn/cntv/vpe/kf/mapping/VideoStreamMapper.xml" />
		<mapper resource="cn/cntv/vpe/kf/mapping/VideoTagMapper.xml" />
		<mapper resource="cn/cntv/vpe/kf/mapping/OrgClassMapper.xml" />
		<mapper resource="cn/cntv/vpe/kf/mapping/Class_VideosetMapper.xml" />
		<mapper resource="cn/cntv/vpe/kf/mapping/VideosetTagMapper.xml" />
		<mapper resource="cn/cntv/vpe/kf/mapping/VideoUnionCatalogMapper.xml" />
		<mapper resource="cn/cntv/vpe/kf/mapping/VideoUnionContentMapper.xml" />
		<mapper resource="cn/cntv/vpe/kf/mapping/VideosetContainsMapper.xml" />
		<mapper resource="cn/cntv/vpe/kf/mapping/VideoMatchRelationMapper.xml" />
		<mapper resource="cn/cntv/vpe/kf/mapping/AudioRelatedInfoMapper.xml" />

		<mapper resource="cn/cntv/vpe/kf/mapping/AudiosetRelatedInfoMapper.xml" />

		<mapper resource="cn/cntv/vpe/kf/mapping/OrganizationMapper.xml" />
		<mapper resource="cn/cntv/vpe/kf/mapping/IndividualClassMapper.xml" />

		<!-- kf -->

		<!-- ko -->
		<mapper resource="cn/cntv/vpe/ko/dao/sql/OrderVideoMapper.xml" />
		<mapper resource="cn/cntv/vpe/ko/dao/sql/VmsOrdListMapper.xml" />
		<mapper resource="cn/cntv/vpe/ko/dao/sql/OrdDownloadMapper.xml" />
		<!-- ko -->
		<!-- ks -->
		<mapper resource="cn/cntv/vpe/ks/dao/sql/CfgEntityMapper.xml" />
		<mapper resource="cn/cntv/vpe/ks/dao/sql/Cfg2StrategyEntityMapper.xml" />
		<mapper resource="cn/cntv/vpe/ks/dao/sql/StrategyEntityMapper.xml" />
		<mapper resource="cn/cntv/vpe/ks/dao/sql/AudioRelationEntityMapper.xml" />
		<mapper resource="cn/cntv/vpe/ks/dao/sql/ColumnStrategyEntityMapper.xml" />

		<!-- /ks -->
		<!-- kt -->
		<mapper resource="cn/cntv/vpe/kt/dao/sql/TscProgressEntityMapper.xml" />
		<mapper resource="cn/cntv/vpe/kt/dao/sql/TscProgressOplogMapper.xml" />
		<mapper resource="cn/cntv/vpe/kt/dao/sql/TscLogEntityMapper.xml" />
		<mapper resource="cn/cntv/vpe/kt/dao/sql/ErrorLogMapper.xml" />
		<mapper resource="cn/cntv/vpe/kt/dao/sql/TscErrorReportEntityMapper.xml" />
		<mapper resource="cn/cntv/vpe/kt/dao/sql/M1M2EntityMapper.xml" />

		<!-- /kt -->

		<!-- kx -->
		<mapper resource="cn/cntv/vpe/kx/dao/sql/UserInfoMapper.xml" />
		<mapper resource="cn/cntv/vpe/kx/dao/sql/PartnerMapper.xml" />
		<mapper resource="cn/cntv/vpe/kx/dao/sql/RoleFunctionMapper.xml" />
		<mapper resource="cn/cntv/vpe/kx/dao/sql/RoleInfoMapper.xml" />
		<mapper resource="cn/cntv/vpe/kx/dao/sql/RoleUserMapper.xml" />
		<mapper resource="cn/cntv/vpe/kx/dao/sql/FunctionMapper.xml" />
		<mapper resource="cn/cntv/vpe/kx/dao/sql/DictionaryInfoMapper.xml" />
		<mapper resource="cn/cntv/vpe/kx/dao/sql/VmsUniteChannelMapper.xml" />
		<mapper resource="cn/cntv/vpe/kx/dao/sql/VmsChildChannelMapper.xml" />
		<mapper resource="cn/cntv/vpe/kx/dao/sql/Kx0810Mapper.xml" />
		<mapper resource="cn/cntv/vpe/kx/dao/sql/Kx0820Mapper.xml" />
		<mapper resource="cn/cntv/vpe/kx/dao/sql/Kx0830Mapper.xml" />
		<mapper resource="cn/cntv/vpe/kx/dao/sql/Kx0840Mapper.xml" />
		<mapper resource="cn/cntv/vpe/kx/dao/sql/Kx0860Mapper.xml" />
		<mapper resource="cn/cntv/vpe/kx/dao/sql/DatafuncMapper.xml" />
		<mapper resource="cn/cntv/vpe/kx/dao/sql/OperateLogMapper.xml" />
		<mapper resource="cn/cntv/vpe/kx/dao/sql/TokensMapper.xml" />
		<mapper resource="cn/cntv/vpe/kx/dao/sql/LimitIpMapper.xml" />
		<mapper resource="cn/cntv/vpe/kx/dao/sql/VideoMatchOrgMapper.xml" />
		<mapper resource="cn/cntv/vpe/kx/dao/sql/OrgDataRightMapper.xml" />
		<mapper resource="cn/cntv/vpe/kx/dao/sql/VideoInfo_inMapper.xml" />
		<mapper resource="cn/cntv/vpe/kx/dao/sql/VideoInfo_outMapper.xml" />
		<mapper resource="cn/cntv/vpe/kx/dao/sql/SendInfoConfMapper.xml" />
		<mapper resource="cn/cntv/vpe/kx/dao/sql/DelCheckMapper.xml" />
		<mapper resource="cn/cntv/vpe/kx/dao/sql/TaskMapper.xml" />
		<mapper resource="cn/cntv/vpe/kx/dao/sql/DepartmentEntityMapper.xml" />
		<mapper resource="cn/cntv/vpe/kx/dao/sql/EncoderStatusMapper.xml" />
		<mapper resource="cn/cntv/vpe/kx/dao/sql/DataMappingMapper.xml" />
		<mapper resource="cn/cntv/vpe/kx/dao/sql/ProtectShelfMapper.xml" />
		<mapper resource="cn/cntv/vpe/kx/dao/sql/TscVpeUrlsEntityMapper.xml" />
		<mapper resource="cn/cntv/vpe/kx/dao/sql/MzVideoinfoMapper.xml" />
		<mapper resource="cn/cntv/vpe/kx/dao/sql/VmsTempidMapper.xml" />
		<!-- /kx -->

		<!-- kz -->
		<mapper resource="cn/cntv/vpe/kz/dao/sql/ShowRelatedEventMapper.xml" />
		<mapper resource="cn/cntv/vpe/kz/dao/sql/VideoTrendMapper.xml" />
		<mapper resource="cn/cntv/vpe/kz/dao/sql/VideoFoucsMapper.xml" />
		<mapper resource="cn/cntv/vpe/kz/dao/sql/MediaFoucsMapper.xml" />
		<mapper resource="cn/cntv/vpe/kz/dao/sql/CrowdFoucsMapper.xml" />
		<mapper resource="cn/cntv/vpe/kz/dao/sql/VideoDistributedMapper.xml" />
		<mapper resource="cn/cntv/vpe/kz/dao/sql/ShowRelatedEventMapper.xml" />
		<mapper resource="cn/cntv/vpe/kz/dao/sql/ShowVideoRelatedMapper.xml" />
		<mapper resource="cn/cntv/vpe/kz/dao/sql/ShowProductCoverMapper.xml" />
		
		<mapper resource="cn/cntv/vpe/kz/dao/sql/ShowHistoryEventMap.xml" />
		<mapper resource="cn/cntv/vpe/kz/dao/sql/ShowRelatedStarMap.xml" />
		<mapper resource="cn/cntv/vpe/kz/dao/sql/ShowVideoAreaMap.xml" />
		<mapper resource="cn/cntv/vpe/kz/dao/sql/ShowDictionaryMapper.xml" />
		
		<!-- /kz -->

		<!-- notice -->
		<mapper resource="cn/cntv/vpe/util/notice/dao/sql/NoticeMapper.xml" />
		<mapper resource="cn/cntv/vpe/util/sync/dao/sql/SyncMapper.xml" />
		<!-- notice -->
		
		<!-- /kz -->
		<mapper resource="cn/cntv/vpe/kz/dao/sql/ShowVideoProductMapper.xml" />
		<mapper resource="cn/cntv/vpe/kz/dao/sql/ShowVideoFinecutMapper.xml" />
		<mapper resource="cn/cntv/vpe/kz/dao/sql/ShowVideoRelatedMapper.xml" />
	
		<mapper resource="cn/cntv/vpe/kz/dao/sql/ShowRelatedEventMapper.xml" />
		<!-- /kz -->
		<!-- ko -->
		<mapper resource="cn/cntv/vpe/ko/dao/sql/Ko0300Mapper.xml" />
		<mapper resource="cn/cntv/vpe/ko/dao/sql/OrdBaseMapper.xml" />
		<mapper resource="cn/cntv/vpe/ko/dao/sql/OrdCatalogMapper.xml" />
		<mapper resource="cn/cntv/vpe/ko/dao/sql/OrdProduceMapper.xml" />
		<mapper resource="cn/cntv/vpe/ko/dao/sql/BindStrategyMapper.xml" />
		<mapper resource="cn/cntv/vpe/ko/dao/sql/OrdRemarkMapper.xml" />
		<mapper resource="cn/cntv/vpe/ko/dao/sql/OrdRemarktagMapper.xml" />
		<mapper resource="cn/cntv/vpe/ko/dao/sql/VmsDictionaryMapper.xml" />
		<mapper resource="cn/cntv/vpe/ko/dao/sql/OrdStatusMapper.xml" />
		<mapper resource="cn/cntv/vpe/ko/dao/sql/OrderCollectionMapper.xml" />
		<mapper resource="cn/cntv/vpe/ko/dao/sql/OrdNoticeGrpMapper.xml" />
		<mapper resource="cn/cntv/vpe/ko/dao/sql/OrdCallbackMapper.xml" />
		<mapper resource="cn/cntv/vpe/ko/dao/sql/OrdSubsectionMapper.xml" />
		<mapper resource="cn/cntv/vpe/ko/dao/sql/OrderXcutColumnEntityMapper.xml" />
		<mapper resource="cn/cntv/vpe/ko/dao/sql/OrderXcutEntityMapper.xml" />
  <mapper resource="cn/cntv/vpe/ko/dao/sql/OrderOvpColumnEntityMapper.xml" />
  <mapper resource="cn/cntv/vpe/ko/dao/sql/OrderOvpEntityMapper.xml" />		
  <mapper resource="cn/cntv/vpe/ko/dao/sql/OrderZbzbEntityMapper.xml" />    
		<!-- /ko -->
		
		<!-- ky -->
		<mapper resource="cn/cntv/vpe/ky/dao/sql/Show2BasedataMapper.xml" />
		<mapper resource="cn/cntv/vpe/ky/dao/sql/Show2OvldataMapper.xml" />
		<mapper resource="cn/cntv/vpe/ky/dao/sql/Show2StoragecurveMapper.xml" />
		<mapper resource="cn/cntv/vpe/ky/dao/sql/Show2StorageMapper.xml" />
		<mapper resource="cn/cntv/vpe/ky/dao/sql/DataManageMapper.xml" />
		<mapper resource="cn/cntv/vpe/ky/dao/sql/Show2ProduceMapper.xml" />
		<mapper resource="cn/cntv/vpe/ky/dao/sql/Show2EfficiencyMapper.xml" />
		<mapper resource="cn/cntv/vpe/ky/dao/sql/Show2ProduceDataMapper.xml" />
		<mapper resource="cn/cntv/vpe/ky/dao/sql/Show2EpgMapper.xml" />
		<!-- /ky -->
	</mappers>
</configuration>
